@import "tailwindcss";

@theme {
    --color-primary: oklch(0.3442 0.2343 265.24);
    --color-secondary: oklch(0.8267 3.1381 29.12);
    --color-navbarbg: oklch(0.9999 0.0001 0);
}
body {
    background: black;
}