@import "tailwindcss";

@theme {
    --color-primary: oklch(27.9% 0.041 260.031);
    --color-navbarbg: oklch(0.9999 0.0001 0);
    --color-secondary: oklch(98.5% 0.001 106.423);
    --color-additional: oklch(70.7% 0.022 261.325);
    --color-accent: oklch(68.1% 0.162 75.834);
}
body {
    background: oklch(27.9% 0.041 260.031);;
}

html {
    scroll-behavior: smooth;
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

.animate-scroll {
    animation: scroll 70s linear infinite;
}
